.vscode/**
.vscode-test/**
src/**
docs/**
scripts/**
node_modules/**
.gitignore
.eslintrc*
tsconfig.json
esbuild.mjs
**/*.ts
**/*.map
**/.DS_Store
*.md
!README.md
!CHANGELOG.md
!LICENSE
**/.git/**
**/.github/**
*.vsix
